@import "./common";


body {
    font-family: 'Roboto', sans-serif;
   
}

  // mobile-menu
  .menu-colum {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(300%);
    background-color: rgba(000, 000, 000, .6);
    transition: all .45s;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            margin: 5px;
            font-size: 2rem;
        }
    }
}
.menu-colum.active {
    transform: translateX(0);
}
.menu-open {
    cursor: pointer;
    z-index: 99999;
}
.body-overflow {
    overflow: hidden;
}
// /mobile-menu

// ===========================================header================================================
header  {
    
    @include flex-row-center;
    padding: $padding-Y - 35 $padding-X;
   
    ul {
        @include flex-row-center;
    }
    ul li a {
        color: $content-color;
        font-size: .8rem;
        font-weight: 500;
        margin: 0 $margin-X - 10;
    }

    @include respond-to(tablets) {
        display: none;
    }
}
// ===========================================/header===============================================

// ===========================================main-sectiom==========================================
.container-main-section {
    height: 90vh;
    z-index: 100;
    background-image: url(../img/main-section-bg.jpg);
    @include bg-image;
     justify-content: center;
    h1 {
        font-size: 3rem;
        font-weight: 400;
        color: #fff;
        white-space: pre;
        @include respond-to(wide-handhelds) {
        font-size: 1.7rem;

        }
    }
    .global-btn {
        margin: $margin-Y +30 0;
    }
    .main-icon-wrap {
        @include flex-row-center;
        justify-content: space-around;
        width: 60%;
        @include respond-to(wide-handhelds) {
        width: 80%;
        }
        .main-icon-content {
            @include flex-colum-center;
            font-size: 1.1rem;
            @include respond-to(wide-handhelds) {
                font-size: 1rem;
                text-align: center;
            }
            i {
                margin-bottom: $margin-Y;
                font-size: 2.5rem;
                @include respond-to(wide-handhelds) {
                    font-size: 1.5rem;
                }
                }
            }
    }
        .brand-color2 {
            color: $brand-color2;
        }
        .brand-color3 {
            color: $brand-color3;
        }
        .brand-color4 {
            color: $brand-color4;
        }
}
// ===========================================/main-section=========================================

// ===========================================section1==============================================
.container-section-1 {
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    display: flex; 
    flex-flow: wrap;
    .picture-block-section-1 {
        height: 75vh;
        width: 30%;
        position: absolute;
        z-index: 0;
        left: 17%;
        background-image: url(../img/section-1.jpg);
        @include bg-image;
        @include respond-to(wide-handhelds) {
             order: 1;
            height: 40vh;
            width: 90%;
            position: relative;
            left: 0%;
        }
        
    }
    .text-block-section-1 {
        width: 40%;
        padding: $padding-Y $padding-X - 100;
        position: absolute;
        z-index: 1;
        right: 17%;
        background-color: #fff;
        box-shadow: $box-shadow;
        @include respond-to(wide-handhelds) {
            order: 0;
            padding: $padding-Y - 40 $padding-X - 140;
            width: 90%;
            position: relative;
            right: 0%;
            }
        &:before {
            @include gradient;
        } 
        .global-title-numbers {
            left: 0;
            transform: translateX(0%);
        } 
        p {
            margin-bottom: $margin-Y;
        }
        p:last-child {
            @include respond-to(wide-handhelds) {
                display: none;
            }
        }
    }
}
// ===========================================/section1=============================================

// ===========================================section2==============================================
.container-section-2 {
    background-color: $bg-color;
    .cards-wrapper_section-2 {
        @include flex-wrap;
        margin: $margin-Y + 30 0;
        @include respond-to(wide-handhelds) {
        margin: $margin-Y + 10 0;

        }
        .cards_section-2  {
            @include flex-colum-center;
            text-align: center;
            flex-basis: $flex-basis-X;
            padding: $padding-Y - 30  $padding-X - 135 $padding-Y  $padding-X - 135;
            box-shadow: $box-shadow;
            @include respond-to(wide-handhelds) {
            flex-basis: $flex-basis-X + 24;
            padding: $padding-Y - 40  $padding-X - 140 $padding-Y - 30 $padding-X - 140;
            margin-bottom: $margin-Y;
            }
            i {
                font-size: 2.2rem;
                padding: $padding-Y - 20 0;
                @include respond-to(wide-handhelds) {
                font-size: 2rem;
                padding: $padding-Y - 40 0;
                }
            }
            h3 {
                margin-bottom: $margin-Y;
                @include respond-to(wide-handhelds) {
                margin-bottom: $margin-Y - 10;

                }
            }
        }
        .card-1_cards_section-2  {
            border-bottom: $border-bottom $brand-color1;
            i {
                color: $brand-color1;
            }
        }
        .card-2_cards_section-2  {
            border-bottom: $border-bottom $brand-color2;
            i {
                color: $brand-color2;
            }
        }
        .card-3_cards_section-2  {
            border-bottom: $border-bottom $brand-color3;
            i {
                color: $brand-color3;
            }
        }
        .card-4_cards_section-2  {
            border-bottom: $border-bottom $brand-color4;
            i {
                color: $brand-color4;
            }
        }
    }
}
// ===========================================/section2=============================================

// ===========================================section3==============================================
.container-section-3 {
    background-color: $bg-color-2;
    h3 {
        font-size: 1.5rem;
        color: #fff;
    }
    i {
        font-size: 3rem;
        margin: $margin-Y +10 0;
        color: $brand-color2;
    }
    span {
        color: #fff;
    }
}
// ===========================================/section3=============================================

// ===========================================section4==============================================
.cards-wrap_section-4 {
    height: 110vh;
    @include flex-wrap;
    margin: $margin-Y + 20 0 ;
    .img-holders {
        flex-basis: $flex-basis-X + 9;
        height: 34vh;
        position: relative;
        @include  bg-image;
    }
    .img-holder-1 {
        background-image: url(../img/1-item.png);
    }
    .img-holder-2 {
        background-image: url(../img/2-item.png);
    }
    .img-holder-3 {
        background-image: url(../img/3-item.png);
    }
    .img-holder-4 {
        background-image: url(../img/4-item.png);
    }
    .img-holder-5 {
        background-image: url(../img/5-item.png);
    }
    .img-holder-6 {
        background-image: url(../img/6-item.png);
    }
    .img-holder-7 {
        background-image: url(../img/7-item.png);
    }
    .img-holder-8 {
        background-image: url(../img/8-item.png);
    }
    .img-holder-9 {
        background-image: url(../img/9-item.png);
    }
    .cards-link {
        @include flex-colum-center;
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: $box-shadow;
        transition: opacity .45s;
        .fade-wrapper {
            flex-grow: 1;
            position: relative;
            width: 100%;
            .fade {
                z-index: 1;
                @include flex-row-center;
                i {
                font-size: 3rem;
            }
            }
        }
        .text-holder {
           @include flex-colum-center;
           width: 100%;
           background-color: #fff;
           position: relative;
           span {
               color: $content-color;
               padding: $padding-Y - 25 0;
           }
           &:after {
               @include gradient;
               z-index: 1;
               top: 0;
           }
        }
    }

    .cards-link:hover {
        opacity: 1;
    }
}
// ===========================================/section4=============================================

// ===========================================section5==============================================
.container-section-5 {
    background-color: $bg-color;
    .cards-wrapper_section-5 {   
        @include flex-wrap;
        margin: $margin-Y + 30 0;
        @include respond-to(wide-handhelds) {
        margin: $margin-Y 0 $margin-Y - 20 0;
        }
        .cards_section-5 {
            @include flex-colum-center;
            flex-basis: $flex-basis-X;
            box-shadow: $box-shadow;
            @include respond-to(wide-handhelds) {
            flex-basis: $flex-basis-X + 23;
            margin-bottom: $margin-Y;

            }
            .team-member-avatar {
                height: 30vh;
                width: 100%;
                @include bg-image;
                @include respond-to(wide-handhelds) {
                height: 25vh;

                }
            }
            .team-member-avatar-1 {
                background-image: url(../img/avatar-1.jpg);
            }
            .team-member-avatar-2 {
                background-image: url(../img/avatar-2.jpg);
            }
            .team-member-avatar-3 {
                background-image: url(../img/avatar-3.jpg);
            }
            .team-member-avatar-4 {
                background-image: url(../img/avatar-4.jpg);
            }
            .team-member-name-wrap {
                @include flex-colum-center;
                width: 100%;
                padding: $padding-Y - 35 0;
                background-color: #fff;

                span:first-child {
                    font-size: 1.2rem;
                    margin-bottom: $margin-Y - 15;
                    text-align: center;
                    @include respond-to(wide-handhelds) {
                    font-size: 1rem;
                    }
                }
                span:last-child {
                    font-size: .8rem;
                }
                @include respond-to(wide-handhelds) {
                padding: $padding-Y - 45 0;

                }
            }
            .team-member-name-wrap_color-1 {
                border-bottom: $border-bottom $brand-color1;
                span:first-child {
                    color: $brand-color1;
                }
                
            }
            .team-member-name-wrap_color-2 {
                border-bottom: $border-bottom $brand-color2;
                span:first-child {
                    color: $brand-color2;
                }
                
            }
            .team-member-name-wrap_color-3 {
                border-bottom: $border-bottom $brand-color3;
                span:first-child {
                    color: $brand-color3;
                }
                
            }
            .team-member-name-wrap_color-4 {
                border-bottom: $border-bottom $brand-color4;
                span:first-child {
                    color: $brand-color4;
                }
                
            }

        }
    }
    .about-members-wrapper {
        position: relative;
        background: #fff;
        min-height: 35vh;
        width: 100%;
        box-shadow: $box-shadow;
        @include respond-to(wide-handhelds) {
        min-height: 45vh;

        }
        .about-members  {
            position: absolute;
            padding: $padding-Y;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            @include respond-to(wide-handhelds) {
                padding: $padding-Y - 40;
            }
            .text-block  {
                position: relative;
                @include flex-colum-center;
                align-items: flex-start;
                h3 {
                    position: absolute;
                    top: 0px;
                    font-size: 1.6rem;
                  }
                p {
                    width: 75%;
                    @include respond-to(wide-handhelds) {
                    width: 100%;
                    }
                }
                
            }
              .links-block {
                white-space: nowrap;
                @include flex-colum-center;
                position: relative;
                &-icon-before {
                  font-size: 2rem;
                  position: absolute; 
                  left: -100%;
                  top: 50%;
                  transform: translateY(-50%);
                }
                ul {
                  position: relative;
                  &::before {
                    content: '';
                    position: absolute;
                    background: $content-color;
                    opacity: .3;
                    width: 2px;
                    top: -5px;
                    bottom: -5px;
                    left: -20px;
                  }
                  li:nth-child(2n) {
                    margin: 7px 0;
                  }
                  a {
                      color: $content-color;
                  }
                }
                ///// do not forget
                display: none;
              }
             
        }

        .about-member-1 {
            color: $brand-color1;
        }
        .about-member-2  {
            color: $brand-color2;
        }
        .about-member-3  {
            color: $brand-color3;
        }
        .about-member-4  {
            color: $brand-color4;
        }
    }
    .about-members {
        transform: scale(-.1);
        transition: all 1s ease-in-out;
        opacity: 0;
        background-color: black;
    }
    .about-members.active {
        transform: scale(1);
        opacity:1;
        background: #fff
    }
}
// ===========================================/section5==============================================

// ===========================================section6===============================================
.container-section-6 {
    background-image: url(../img/coffe.png);
    @include bg-image;
    .icon-wrapper_section-6 {
        @include flex-wrap;
        justify-content: space-between;
        width: 100%;
        .icon-blocks {
            flex-basis: $flex-basis-X;
            @include flex-colum-center;
            i:nth-child(1) {
                font-size: 2.2rem;
                margin-bottom: $margin-Y;
            }
            span:nth-child(2) {
                 color: #fff;
            }
            span:nth-child(3) {
            font-size: .8rem;
            margin: $margin-Y 0;
            color:#BDBDBF; 
            }
        }
        .icon-block-1 {
            color: $brand-color1;
        }
        .icon-block-2 {
            color: $brand-color2;
        }
        .icon-block-3 {
            color: $brand-color3;
        }
        .icon-block-4 {
            color: $brand-color4;
        }
    }
}
// ===========================================/section6==============================================

// ===========================================section7===============================================
.wrapper-section-7 {
    @include flex-colum-center;
    justify-content: center;
    padding-top: $padding-Y + 50;
    .img-holders {
        height: 30vh;
        width: 30vw;
        @include bg-image;
        position: relative;
        margin-bottom: $margin-Y - 10;
    }
    .img-holder-1 {
        background-image: url(../img/understanding.jpg);
        & .text-holder {
            border-bottom: $border-bottom $brand-color1;
        }
    }
    .img-holder-2 {
        background-image: url(../img/planing.jpg);
        & .text-holder {
            border-bottom: $border-bottom $brand-color2;
        }
    }
    .img-holder-3 {
        background-image: url(../img/design.jpg);
        & .text-holder {
            border-bottom: $border-bottom $brand-color3;
        }
    }
    .img-holder-4 {
        background-image: url(../img/developing.jpg);
        & .text-holder {
            border-bottom: $border-bottom $brand-color4;
        }
    }
    
    .text-holder {
        position: absolute;
        background: #fff;
        box-shadow: $box-shadow;
        display: flex;
        padding: $padding-Y $padding-X - 120;
        h3 {
            margin-bottom: $margin-Y - 10;
        }
    }
    .text-holder-1-and-3 {
        left: -70%;
        right: 70%;
        top: -15%;
    }
    .text-holder-2-and-4 {
        right: -70%;
        left: 70%;
        top: -15%;
    }
    .numbers span {
        color: $title-numbers-color;
        font-size: 2.5rem;
        margin-right: $margin-X + 10;
        position: relative;
    }
    .numbers span::before {
        content: ' ';
        background-color: $title-numbers-color;
        position: absolute;
        width: 2px;
        height: 95px;
        right: -25px;
        transform:  rotate(40deg);
        transform-origin: top;
    }
}
// ===========================================/section7==============================================

// ===========================================section8===============================================
.container-section-8 {
    background-color: $bg-color;
    .cards-wrapper {
        @include flex-wrap;
        padding-top: $padding-Y;
        @include respond-to(wide-handhelds) {
            justify-content: center;
        }
        .cards {
            @include flex-colum-center;
            flex-basis: $flex-basis-X + 9;
            box-shadow: $box-shadow;
            background-color: #fff;
            padding: $padding-Y - 20;
            @include respond-to(wide-handhelds) {
            flex-basis: $flex-basis-X + 70;
            margin-bottom: $margin-Y;
            padding: $padding-Y - 30;
            }
            .price {
                height: 100px;
                width: 100px;
                color: #fff;
                margin: $margin-Y + 10 0;
                border: 3px solid white;
                border-radius: 100px ;
                @include flex-colum-center;
                justify-content: center;
                span:first-child {
                    font-size: 1.5rem;
                }
                span:last-child {
                    font-size: .7rem;
                }
                @include respond-to(wide-handhelds) {
                margin: $margin-Y - 5 0;

                }
            }
            span:nth-child(n+3) {
                margin-bottom: $margin-Y;
                color: $bg-color-2;
                @include respond-to(wide-handhelds) {
                margin-bottom: $margin-Y - 10;
                }
            }
            span:nth-child(n+3):nth-child(-n+5) {
                color: black;
                font-weight: 500;
            }
            span:nth-child(n+3):nth-child(-n+5) span {
                color: $bg-color-2;
                font-weight: 400;
            }
            .btn {
                padding: $padding-Y - 35 $padding-X - 115;
                border-radius: 30px;
                margin-top: $margin-Y - 10;
                background-color: #fff;
                color: blueviolet; 
            }
        }
        .card-1 {
            border-top: 3px solid $brand-color2;
            .price {
                background-color: $brand-color2;
                box-shadow: 0px 0px 5px 1px rgba(56,198,149,1);
            }
            .btn {
                color: $brand-color2;
                border: 2px solid $brand-color2;
            }
            .btn:hover {
                color: #fff;
                background-color: $brand-color2;
            }
        }
        .card-2 {
            border-top: 3px solid $brand-color1;
            .price {
                background-color: $brand-color1;
                box-shadow: 0px 0px 5px 1px rgba(252,95,69,1);
            }
            .btn {
                color: $brand-color1;
                border: 2px solid $brand-color1;
            }
            .btn:hover {
                color: #fff;
                background-color: $brand-color1;
            }
        }
        .card-3 {
            border-top: 3px solid $brand-color3;
            .price {
                background-color: $brand-color3;
                box-shadow: 0px 0px 5px 1px rgba(178,124,245,1);
            }
            .btn {
                color: $brand-color3;
                border: 2px solid $brand-color3;
            }
            .btn:hover {
                color: #fff;
                background-color: $brand-color3;
            }
        }
    }
}
// ===========================================/section8==============================================

// ===========================================section9===============================================
.container-section-9 {
    background-color: $bg-color-2;
    .global-title-numbers {
        color: #47484F;
    }
    .global-title h2, p {
        color: #fff;
    }
    .wrapper {
        margin: $margin-Y + 30 0;
        width: 100%;
        height: 40vh;
        position: relative;
        .testimonials {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @include flex-wrap;
            justify-content: center;
            align-items: center;
            .img-holder {
                height: 40vh;
                flex-basis: 30%;
                @include bg-image;
                box-shadow: $box-shadow;

            }
            .text {
                background-color: #fff;
                flex-basis: 70%;
                padding: $padding-Y - 20 $padding-X - 100;
                @include flex-colum-center;
                align-items: start;
                p {
                    color: $content-color;
                    z-index: 1;
                    position: relative;
                }
                p::before {
                    content: '“';
                    position: absolute;
                    font-size: 16rem;
                    line-height: 80%;
                    left: -25px;
                    color: $title-numbers-color;
                    z-index: -1;
                }
                h2 {
                    margin: $margin-Y - 5 0 $margin-Y - 10 0;
                    font-weight: 500;
                } 
                .full-name {
                    font-weight: 500;
                }
                .position {
                    font-size: 0.8rem;
                    margin-top: $margin-Y - 17;
                }
            }
        }
        .buttons {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .testimonial-1, .testimonial-5 {
            .img-holder {
                background-image: url(../img/1t.jpg);
                background-position: 50% 20%;
            }
            .text {
                border-bottom: $border-bottom $brand-color1;
                .position {
                    color: $brand-color1;
                }
            }
        }
        .testimonial-2, .testimonial-6 {
            .img-holder {
                background-image: url(../img/2t.jpg);
                background-position: 50% 10%;

            }
            .text {
                border-bottom: $border-bottom $brand-color2;
                .position {
                    color: $brand-color2;
                }
            }
        }
        .testimonial-3 {
            .img-holder {
                background-image: url(../img/3t.jpg);
                background-position: 50% 10%;

            }
            .text {
                border-bottom: $border-bottom $brand-color3;
                .position {
                    color: $brand-color3;
                }
            }
        }
        .testimonial-4 {
            .img-holder {
                background-image: url(../img/4t.jpg);
                background-position: 50% 30%;

            }
            .text {
                border-bottom: $border-bottom $brand-color4;
                .position {
                    color: $brand-color4;
                }
            }
        }
        .testimonial-5 {
            .img-holder {
                background-image: url(../img/5t.jpg);
                background-position: 50% 10%;
            }
        }
        .testimonial-6 {
            .img-holder {
                background-image: url(../img/6t.jpg);
                background-position: 50% 30%;
            }
        }


    }  
        .testimonials {
        transform: scale(-.1);
        transition: all 1s ease-in-out;
        opacity: 0;
        }
        .testimonials.active {
        transform: scale(1);
        opacity:1;
        }
}
// ===========================================/section9==============================================

// ===========================================section10==============================================
.container-section-10 {
    .wrapper {
        @include flex-wrap;
        margin: $margin-Y 0;
        .blocks {
            flex-basis: $flex-basis-X + 7;
            margin: $margin-Y + 10 0;
            @include respond-to(wide-handhelds) {
            flex-basis: $flex-basis-X + 23;
            margin: $margin-Y - 5 0;


            }
            .icon-and-title-holder {
                display: flex;
                margin-bottom: $margin-Y;
                @include respond-to(wide-handhelds) {
                    margin-bottom: $margin-Y - 15;
                }
                i {
                    font-size: 2.2rem;
                    margin-right: $margin-Y - 10;
                    @include respond-to(wide-handhelds) {
                    font-size: 1.8rem;
                    }
                }
                h3 {
                    white-space: pre;
                    font-weight: 500;
                    @include respond-to(wide-handhelds) {
                        font-size: 1.1rem;
                    }
                }
            }
            p {
                color: $bg-color-2;
            }
        }
        & .block-1, .block-5 .icon-and-title-holder i {
            color: $brand-color1;
        }
        & .block-2, .block-6 .icon-and-title-holder i {
            color: $brand-color2;
        }
        & .block-3 .icon-and-title-holder i {
            color: $brand-color3;
        }
        & .block-4 .icon-and-title-holder i {
            color: $brand-color4;
        }
    }
    .text-and-btn-wrapper {
        @include flex-row-center;
        margin: $margin-Y 0;
        span {
            margin-right: $margin-X;
            @include respond-to(wide-handhelds) {
            margin-right: 0;
            margin-bottom: $margin-Y;
            }
        }
        @include respond-to(wide-handhelds) {
        @include flex-colum-center;
        margin: 0;
        }
    }

}
// ===========================================/section10=============================================

// ===========================================section11==============================================
.container-section-11 {
    background-color: $bg-color;
    .wrapper {
        @include flex-wrap;
        margin: $margin-Y + 30 0;
        @include respond-to(wide-handhelds) {
            justify-content: center;
            margin: $margin-Y + 10 0 $margin-Y 0;
        }
        .block-1 {
            flex-basis: 49.25%;
            box-shadow: $box-shadow;
            @include respond-to(wide-handhelds) {
            flex-basis: 90%;
            }
            .img-holder {
                @include bg-image;
                background-image: url(../img/graphs.jpg);
                height: 50vh;
                width: 100%;
                padding: $padding-Y - 20;
                background-color: green;
                display: flex;
                @include respond-to(wide-handhelds)  {
                height: 30vh;
                padding: $padding-Y - 30;
                }
                .name {
                    align-self: flex-end;
                    color: $brand-color1;
                    span {
                        color: $bg-color;
                        margin-left: $margin-X;
                    }
                }
            }
            .content-1 {
                border-bottom: $border-bottom $brand-color1;
                p a {
                    color: $title-color;
                }
            }
            
        }
        .block-2 {
            flex-basis: 49.25%;
            @include flex-colum-center;
            justify-content: space-between;
            @include respond-to(wide-handhelds) {
            flex-basis: 90%;
            }
            .content {
            box-shadow: $box-shadow;
            @include respond-to(wide-handhelds) {
                margin-top: $margin-Y;
            }
            }
            .content-2 {
                border-bottom: $border-bottom $brand-color2;
                .name {
                    color: $brand-color2;
                    span {
                        color: $content-color;
                    }
                }
                p a {
                    color: $brand-color2;
                }
            }
            .content-3 {
                border-bottom: $border-bottom $brand-color3;
                .name {
                    color: $brand-color3;
                    span {
                        color: $content-color;
                    }
                }
                p a {
                    color: $brand-color3;
                }
            }
            .content-4 {
                border-bottom: $border-bottom $brand-color4;
                .name {
                    color: $brand-color4;
                    span {
                        color: $content-color;
                    }
                }
                p a {
                    color: $brand-color4;
                }
            }
        }
        .content {
            padding: $padding-Y - 20;
            background-color: #fff;
            @include respond-to(wide-handhelds) {
            padding: $padding-Y - 30;

            }
            .name > span {
                margin-left: $margin-X;
            }
            h3 {
                margin: $margin-Y - 10 0;
                font-weight: 500;
            }
            p a {
                font-weight: 500;
            }

        }
    }
}
// ===========================================/section11=============================================

// ===========================================section12==============================================
.container-section-12 {
    span {
        font-size: 1.5rem;
    }
    .input-and-btn-holder {
        @include flex-row-center;
        margin: $margin-Y  0;
        input {
        padding: 12px 80px 12px 20px;
        
        background-color: $bg-color;
        border: 2px solid #EFEFEF;
        border-radius: 30px 0 0 30px;
        font-size: .6rem;
        }
        input::placeholder {
            font-size: .8rem;
        }
        a {
            border-radius: 0 30px 30px 0;
        }
    }

}
// ===========================================/section12=============================================

// ===========================================footer=================================================
footer {
    background-color: #CCCCCC;
    .global-title-numbers {
        color: #D3D3D3;
    }
    .wrapper {
        @include flex-wrap;
        width: 50vw;
        height: 40vh;
        margin: $margin-Y + 20 0 $margin-Y 0;
        @include respond-to(wide-handhelds) {
            justify-content: center;
            width: 90vw;
            height: 50vh;
        margin: $margin-Y 0 $margin-Y 0;

        }
        input {
            flex-basis: 48%;
            height: 45px;
            text-align: center;
            border: 1px solid $bg-color;
            border-radius: 3px;
            font-size: .8rem;
            margin: 0;
            @include respond-to(wide-handhelds) {
            flex-basis: 90%;

            }
        }
        textarea {
            flex-basis: 100%;
            text-align: center;
            border: 1px solid $bg-color;
            border-radius: 3px;
            font-size: .8rem;
            padding-top: 15px;
            resize: none;
            height: 20vh;
            @include respond-to(wide-handhelds) {
            flex-basis: 90%;
            height: 15vh;
            }
        }
    }
    .contacts {
        @include flex-wrap;
        justify-content: space-around;
        background-color: $bg-color-2;
        padding: $padding-Y 0;
        margin: $margin-Y + 60 0 $margin-Y 0;
        position: relative;
        @include respond-to(wide-handhelds) {
        margin: $margin-Y 0 0 0;
        padding: $padding-Y - 30 0;
        display: flex;
        flex-flow: wrap;
        }
        &:before {
            @include gradient;
            z-index: 1;
        } 
        .blocks {
            flex-basis: 15%;
            @include respond-to(wide-handhelds) {
            flex-basis: 40%;
            }
        }
        .block-1 {
            @include flex-colum-center;
            @include respond-to(wide-handhelds) {
                order: 0;
                margin-bottom: $margin-Y;
            }
            .logo {
                flex-grow: 0;
                color: #fff;
                font-size: 2.5rem;
                @include respond-to(wide-handhelds) {
                font-size: 2rem;
                align-self: flex-start;
                }

            }
        }
        .block-2, .block-3 {
            p {
                color: #fff;
                white-space: pre;
                font-size: .9rem;
                margin-top: $margin-Y;
                @include respond-to(wide-handhelds) {
                margin-top: $margin-Y - 10;
                font-size: .8rem;

                }
            }
        }
        .block-2 {
            @include respond-to(wide-handhelds) {
                order: 2;
            }
        }
        .block-3 {
            @include respond-to(wide-handhelds) {
                order: 3;
            }
        }
        .block-2 > span {
            color: $brand-color2;
        }
        .block-3 > span {
            color: $brand-color3;
        }
        .block-4 {
            @include respond-to(wide-handhelds) {
                order: 1;
                margin-bottom: $margin-Y;
            }
            ul {
                display: flex;
                margin-top: $margin-Y;
                @include respond-to(wide-handhelds) {
                    margin-top: $margin-Y - 10;
                  
                    }
                li {
                    margin-right: $margin-X - 10;
                    a i {
                        font-size: 1.8rem;
                        @include respond-to(wide-handhelds) {
                        font-size: 1.4rem;

                        }
                        
                    }
                }
            }
            span {
                color: $brand-color4;
                @include respond-to(wide-handhelds) {
                    display: none;;
                }
            }
        }
    }
}


// ===========================================/footer=================================================

























    


    
        
    


