@import "./common";

body {
    font-family: 'Roboto', sans-serif;
}
// mobile-menu
.menu-colum {
    @include flex-colum-center;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(300%);
    background-color: rgba(000, 000, 000, .6);
    transition: all .45s;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            margin: 5px;
            font-size: 2rem;
        }
    }
}
.menu-colum.active {
    transform: translateX(0);
}
.menu-open {
    cursor: pointer;
    z-index: 999999;
}

.body-overflow {
    overflow: hidden;
}

// /mobile-menu

// ===========================================header================================================
header  {
    @include flex-row-center;
    padding: $padding-Y - 35 $padding-X;
    .logo {
        font-family: 'Petit Formal Script', cursive;
        flex-grow: 1;
        font-size: 1.4rem;
        line-height: 100%;
    }
    .logo > span {
        color: $brand-color1;
    }
    ul li a {
        color: $content-color;
        font-size: .8rem;
        font-weight: 500;
        margin: 0 $margin-X - 10;
    }
}
// ===========================================/header===============================================

// ===========================================main-sectiom==========================================
.container-main-section {
    height: 90vh;
    background-image: url(../img/main-section-bg.jpg);
    @include bg-image;
     justify-content: center;
    h1 {
        font-size: 3rem;
        font-weight: 400;
        color: #fff;
        white-space: pre;
    }
    .global-btn {
        margin: $margin-Y +30 0;
    }
    .main-icon-wrap {
        @include flex-row-center;
        justify-content: space-around;
        width: 60%;
        .main-icon-content {
            @include flex-colum-center;
            font-size: 1.1rem;
            i {
                margin-bottom: $margin-Y;
                font-size: 2.5rem;
                }
            }
    }
        .brand-color2 {
            color: $brand-color2;
        }
        .brand-color3 {
            color: $brand-color3;
        }
        .brand-color4 {
            color: $brand-color4;
        }
}
// ===========================================/main-section=========================================

// ===========================================section1==============================================
.container-section-1 {
    height: 100vh;
    .picture-block-section-1 {
        height: 75vh;
        width: 30%;
        position: absolute;
        z-index: 0;
        left: 17%;
        background-image: url(../img/section-1.jpg);
        @include bg-image;
    }
    .text-block-section-1 {
        width: 40%;
        padding: $padding-Y $padding-X - 100;
        position: absolute;
        z-index: 1;
        right: 17%;
        background-color: #fff;
        box-shadow: $box-shadow;
        &:before {
            @include gradient;
        } 
        .global-title-numbers {
            left: 0;
            transform: translateX(0%);
        } 
        p {
            margin-bottom: $margin-Y;
        }
    }
}
// ===========================================/section1=============================================

// ===========================================section2==============================================
.container-section-2 {
    background-color: $bg-color;
    .cards-wrapper_section-2 {
        @include flex-wrap;
        margin: $margin-Y + 30 0;
        .cards_section-2 {
            @include flex-colum-center;
            text-align: center;
            flex-basis: $flex-basis-X;
            padding: $padding-Y - 30  $padding-X - 135 $padding-Y  $padding-X - 135;
            box-shadow: $box-shadow;
            i {
                font-size: 2.2rem;
                padding: $padding-Y - 20 0;
            }
            h3 {
                margin-bottom: $margin-Y;
            }
        }
        .card-1_cards_section-2 {
            border-bottom: $border-bottom $brand-color1;
            i {
                color: $brand-color1;
            }
        }
        .card-2_cards_section-2 {
            border-bottom: $border-bottom $brand-color2;
            i {
                color: $brand-color2;
            }
        }
        .card-3_cards_section-2 {
            border-bottom: $border-bottom $brand-color3;
            i {
                color: $brand-color3;
            }
        }
        .card-4_cards_section-2 {
            border-bottom: $border-bottom $brand-color4;
            i {
                color: $brand-color4;
            }
        }
    }
}
// ===========================================/section2=============================================

// ===========================================section3==============================================
.container-section-3 {
    background-color: $bg-color-2;
    h3 {
        font-size: 1.5rem;
        color: #fff;
    }
    i {
        font-size: 3rem;
        margin: $margin-Y +10 0;
        color: $brand-color2;
    }
    span {
        color: #fff;
    }
}
// ===========================================/section3=============================================

// ===========================================section4==============================================
.cards-wrap_section-4 {
    height: 110vh;
    @include flex-wrap;
    margin: $margin-Y + 20 0 ;
    .img-holders {
        flex-basis: $flex-basis-X + 9;
        height: 34vh;
        position: relative;
        @include  bg-image;
    }
    .img-holder-1 {
        background-image: url(../img/1-item.png);
    }
    .img-holder-2 {
        background-image: url(../img/2-item.png);
    }
    .img-holder-3 {
        background-image: url(../img/3-item.png);
    }
    .img-holder-4 {
        background-image: url(../img/4-item.png);
    }
    .img-holder-5 {
        background-image: url(../img/5-item.png);
    }
    .img-holder-6 {
        background-image: url(../img/6-item.png);
    }
    .img-holder-7 {
        background-image: url(../img/7-item.png);
    }
    .img-holder-8 {
        background-image: url(../img/8-item.png);
    }
    .img-holder-9 {
        background-image: url(../img/9-item.png);
    }
    .cards-link {
        @include flex-colum-center;
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: $box-shadow;
        transition: opacity .45s;
        .fade-wrapper {
            flex-grow: 1;
            position: relative;
            width: 100%;
            .fade {
                z-index: 1;
                @include flex-row-center;
                i {
                font-size: 3rem;
            }
            }
        }
        .text-holder {
           @include flex-colum-center;
           width: 100%;
           background-color: #fff;
           position: relative;
           span {
               color: $content-color;
               padding: $padding-Y - 25 0;
           }
           &:after {
               @include gradient;
               z-index: 1;
               top: 0;
           }
        }
    }

    .cards-link:hover {
        opacity: 1;
    }
}





    


    
        
    


