* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 17px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h2, h3 {
  color: #272727;
  margin: 0;
}

p {
  color: #272727;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 50px 150px;
  z-index: 1;
}

.fade {
  position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.global-title {
  font-size: 1.3rem;
  padding: 50px 0 30px 0;
}

.global-title-numbers {
  font-size: 10.5rem;
  font-weight: 900;
  line-height: 83%;
  color: #f0f0f0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.global-btn {
  background-color: #fc5f45;
  padding: 12px 35px;
  border-radius: 30px;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu-colum {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all .45s;
  transition: all .45s;
}

.menu-colum ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-colum ul li {
  margin: 5px;
  font-size: 2rem;
}

.menu-colum.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-open {
  cursor: pointer;
  z-index: 999;
}

.body-overflow {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 150px;
}

header .logo {
  font-family: 'Petit Formal Script', cursive;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.4rem;
  line-height: 100%;
}

header .logo > span {
  color: #fc5f45;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li a {
  color: #272727;
  font-size: .8rem;
  font-weight: 500;
  margin: 0 10px;
}

.container-main-section {
  height: 90vh;
  background-image: url(../img/main-section-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-main-section h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  white-space: pre;
}

.container-main-section .global-btn {
  margin: 50px 0;
}

.container-main-section .main-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

.container-main-section .main-icon-wrap .main-icon-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.container-main-section .main-icon-wrap .main-icon-content i {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.container-main-section .brand-color2 {
  color: #38c695;
}

.container-main-section .brand-color3 {
  color: #b27cf5;
}

.container-main-section .brand-color4 {
  color: #feb960;
}

.container-section-1 {
  height: 100vh;
}

.container-section-1 .picture-block-section-1 {
  height: 75vh;
  width: 30%;
  position: absolute;
  z-index: 0;
  left: 17%;
  background-image: url(../img/section-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-section-1 .text-block-section-1 {
  width: 40%;
  padding: 50px 50px;
  position: absolute;
  z-index: 1;
  right: 17%;
  background-color: #fff;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.container-section-1 .text-block-section-1:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fc5f45), color-stop(25%, #38c695), color-stop(50%, #38c695), color-stop(50%, #b27cf5), color-stop(75%, #b27cf5), color-stop(75%, #feb960));
  background: linear-gradient(90deg, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%);
}

.container-section-1 .text-block-section-1 .global-title-numbers {
  left: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.container-section-1 .text-block-section-1 p {
  margin-bottom: 20px;
}

.container-section-2 {
  background-color: #f7f7f7;
}

.container-section-2 .cards-wrapper_section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 50px 0;
}

.container-section-2 .cards-wrapper_section-2 .cards_section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  padding: 20px 15px 50px 15px;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.container-section-2 .cards-wrapper_section-2 .cards_section-2 i {
  font-size: 2.2rem;
  padding: 30px 0;
}

.container-section-2 .cards-wrapper_section-2 .cards_section-2 h3 {
  margin-bottom: 20px;
}

.container-section-2 .cards-wrapper_section-2 .card-1_cards_section-2 {
  border-bottom: 3px solid #fc5f45;
}

.container-section-2 .cards-wrapper_section-2 .card-1_cards_section-2 i {
  color: #fc5f45;
}

.container-section-2 .cards-wrapper_section-2 .card-2_cards_section-2 {
  border-bottom: 3px solid #38c695;
}

.container-section-2 .cards-wrapper_section-2 .card-2_cards_section-2 i {
  color: #38c695;
}

.container-section-2 .cards-wrapper_section-2 .card-3_cards_section-2 {
  border-bottom: 3px solid #b27cf5;
}

.container-section-2 .cards-wrapper_section-2 .card-3_cards_section-2 i {
  color: #b27cf5;
}

.container-section-2 .cards-wrapper_section-2 .card-4_cards_section-2 {
  border-bottom: 3px solid #feb960;
}

.container-section-2 .cards-wrapper_section-2 .card-4_cards_section-2 i {
  color: #feb960;
}

.container-section-3 {
  background-color: #3f4049;
}

.container-section-3 h3 {
  font-size: 1.5rem;
  color: #fff;
}

.container-section-3 i {
  font-size: 3rem;
  margin: 30px 0;
  color: #38c695;
}

.container-section-3 span {
  color: #fff;
}

.cards-wrap_section-4 {
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 40px 0;
}

.cards-wrap_section-4 .img-holders {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: 34vh;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards-wrap_section-4 .img-holder-1 {
  background-image: url(../img/1-item.png);
}

.cards-wrap_section-4 .img-holder-2 {
  background-image: url(../img/2-item.png);
}

.cards-wrap_section-4 .img-holder-3 {
  background-image: url(../img/3-item.png);
}

.cards-wrap_section-4 .img-holder-4 {
  background-image: url(../img/4-item.png);
}

.cards-wrap_section-4 .img-holder-5 {
  background-image: url(../img/5-item.png);
}

.cards-wrap_section-4 .img-holder-6 {
  background-image: url(../img/6-item.png);
}

.cards-wrap_section-4 .img-holder-7 {
  background-image: url(../img/7-item.png);
}

.cards-wrap_section-4 .img-holder-8 {
  background-image: url(../img/8-item.png);
}

.cards-wrap_section-4 .img-holder-9 {
  background-image: url(../img/9-item.png);
}

.cards-wrap_section-4 .cards-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .45s;
  transition: opacity .45s;
}

.cards-wrap_section-4 .cards-link .fade-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  width: 100%;
}

.cards-wrap_section-4 .cards-link .fade-wrapper .fade {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-wrap_section-4 .cards-link .fade-wrapper .fade i {
  font-size: 3rem;
}

.cards-wrap_section-4 .cards-link .text-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.cards-wrap_section-4 .cards-link .text-holder span {
  color: #272727;
  padding: 25px 0;
}

.cards-wrap_section-4 .cards-link .text-holder:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fc5f45), color-stop(25%, #38c695), color-stop(50%, #38c695), color-stop(50%, #b27cf5), color-stop(75%, #b27cf5), color-stop(75%, #feb960));
  background: linear-gradient(90deg, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%);
  z-index: 1;
  top: 0;
}

.cards-wrap_section-4 .cards-link:hover {
  opacity: 1;
}

.container-section-5 {
  background-color: #f7f7f7;
}

.container-section-5 .cards-wrapper_section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 50px 0;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-avatar {
  height: 30vh;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-avatar-1 {
  background-image: url(../img/avatar-1.jpg);
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-avatar-2 {
  background-image: url(../img/avatar-2.jpg);
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-avatar-3 {
  background-image: url(../img/avatar-3.jpg);
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-avatar-4 {
  background-image: url(../img/avatar-4.jpg);
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap span:first-child {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap span:last-child {
  font-size: .8rem;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-1 {
  border-bottom: 3px solid #fc5f45;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-1 span:first-child {
  color: #fc5f45;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-2 {
  border-bottom: 3px solid #38c695;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-2 span:first-child {
  color: #38c695;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-3 {
  border-bottom: 3px solid #b27cf5;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-3 span:first-child {
  color: #b27cf5;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-4 {
  border-bottom: 3px solid #feb960;
}

.container-section-5 .cards-wrapper_section-5 .cards_section-5 .team-member-name-wrap_color-4 span:first-child {
  color: #feb960;
}

.container-section-5 .about-members-wrapper {
  position: relative;
  background: #fff;
  min-height: 20vw;
  width: 100%;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.container-section-5 .about-members-wrapper .about-members {
  position: absolute;
  padding: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-section-5 .about-members-wrapper .about-members .text-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-section-5 .about-members-wrapper .about-members .text-block h3 {
  position: absolute;
  top: 0px;
  font-size: 1.6rem;
}

.container-section-5 .about-members-wrapper .about-members .text-block p {
  width: 75%;
}

.container-section-5 .about-members-wrapper .about-members .links-block {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container-section-5 .about-members-wrapper .about-members .links-block-icon-before {
  font-size: 2rem;
  position: absolute;
  left: -100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-section-5 .about-members-wrapper .about-members .links-block ul {
  position: relative;
}

.container-section-5 .about-members-wrapper .about-members .links-block ul::before {
  content: '';
  position: absolute;
  background: #272727;
  opacity: .3;
  width: 2px;
  top: -5px;
  bottom: -5px;
  left: -20px;
}

.container-section-5 .about-members-wrapper .about-members .links-block ul li:nth-child(2n) {
  margin: 7px 0;
}

.container-section-5 .about-members-wrapper .about-members .links-block ul a {
  color: #272727;
}

.container-section-5 .about-members-wrapper .about-member-1 {
  color: #fc5f45;
}

.container-section-5 .about-members-wrapper .about-member-2 {
  color: #38c695;
}

.container-section-5 .about-members-wrapper .about-member-3 {
  color: #b27cf5;
}

.container-section-5 .about-members-wrapper .about-member-4 {
  color: #feb960;
}

.about-members {
  -webkit-transform: scale(0.1, 0.1);
          transform: scale(0.1, 0.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
  background-color: black;
}

.about-members.active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  background: #fff;
}

.container-section-6 {
  background-image: url(../img/coffe.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-section-6 .icon-wrapper_section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  width: 100%;
}

.container-section-6 .icon-wrapper_section-6 .icon-blocks {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-section-6 .icon-wrapper_section-6 .icon-blocks i:nth-child(1) {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.container-section-6 .icon-wrapper_section-6 .icon-blocks span:nth-child(2) {
  color: #fff;
}

.container-section-6 .icon-wrapper_section-6 .icon-blocks span:nth-child(3) {
  font-size: .8rem;
  margin: 20px 0;
  color: #BDBDBF;
}

.container-section-6 .icon-wrapper_section-6 .icon-block-1 {
  color: #fc5f45;
}

.container-section-6 .icon-wrapper_section-6 .icon-block-2 {
  color: #38c695;
}

.container-section-6 .icon-wrapper_section-6 .icon-block-3 {
  color: #b27cf5;
}

.container-section-6 .icon-wrapper_section-6 .icon-block-4 {
  color: #feb960;
}

.wrapper-section-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.wrapper-section-7 .img-holders {
  height: 30vh;
  width: 30vw;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 10px;
}

.wrapper-section-7 .img-holder-1 {
  background-image: url(../img/understanding.jpg);
}

.wrapper-section-7 .img-holder-1 .text-holder {
  border-bottom: 3px solid #fc5f45;
}

.wrapper-section-7 .img-holder-2 {
  background-image: url(../img/planing.jpg);
}

.wrapper-section-7 .img-holder-2 .text-holder {
  border-bottom: 3px solid #38c695;
}

.wrapper-section-7 .img-holder-3 {
  background-image: url(../img/design.jpg);
}

.wrapper-section-7 .img-holder-3 .text-holder {
  border-bottom: 3px solid #b27cf5;
}

.wrapper-section-7 .img-holder-4 {
  background-image: url(../img/developing.jpg);
}

.wrapper-section-7 .img-holder-4 .text-holder {
  border-bottom: 3px solid #feb960;
}

.wrapper-section-7 .text-holder {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px;
}

.wrapper-section-7 .text-holder h3 {
  margin-bottom: 10px;
}

.wrapper-section-7 .text-holder-1-and-3 {
  left: -70%;
  right: 70%;
  top: -15%;
}

.wrapper-section-7 .text-holder-2-and-4 {
  right: -70%;
  left: 70%;
  top: -15%;
}

.wrapper-section-7 .numbers span {
  color: #f0f0f0;
  font-size: 2.5rem;
  margin-right: 30px;
  position: relative;
}

.wrapper-section-7 .numbers span::before {
  content: ' ';
  background-color: #f0f0f0;
  position: absolute;
  width: 2px;
  height: 95px;
  right: -25px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.container-section-8 {
  background-color: #f7f7f7;
}

.container-section-8 .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}

.container-section-8 .cards-wrapper .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 30px;
}

.container-section-8 .cards-wrapper .cards .price {
  height: 100px;
  width: 100px;
  color: #fff;
  margin: 30px 0;
  border: 3px solid white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-section-8 .cards-wrapper .cards .price span:first-child {
  font-size: 1.5rem;
}

.container-section-8 .cards-wrapper .cards .price span:last-child {
  font-size: .7rem;
}

.container-section-8 .cards-wrapper .cards span:nth-child(n+3) {
  margin-bottom: 20px;
  color: #3f4049;
}

.container-section-8 .cards-wrapper .cards span:nth-child(n+3):nth-child(-n+5) {
  color: black;
  font-weight: 500;
}

.container-section-8 .cards-wrapper .cards span:nth-child(n+3):nth-child(-n+5) span {
  color: #3f4049;
  font-weight: 400;
}

.container-section-8 .cards-wrapper .cards .btn {
  padding: 15px 35px;
  border-radius: 30px;
  margin-top: 10px;
  background-color: #fff;
  color: blueviolet;
}

.container-section-8 .cards-wrapper .card-1 {
  border-top: 3px solid #38c695;
}

.container-section-8 .cards-wrapper .card-1 .price {
  background-color: #38c695;
  -webkit-box-shadow: 0px 0px 5px 1px #38c695;
          box-shadow: 0px 0px 5px 1px #38c695;
}

.container-section-8 .cards-wrapper .card-1 .btn {
  color: #38c695;
  border: 2px solid #38c695;
}

.container-section-8 .cards-wrapper .card-1 .btn:hover {
  color: #fff;
  background-color: #38c695;
}

.container-section-8 .cards-wrapper .card-2 {
  border-top: 3px solid #fc5f45;
}

.container-section-8 .cards-wrapper .card-2 .price {
  background-color: #fc5f45;
  -webkit-box-shadow: 0px 0px 5px 1px #fc5f45;
          box-shadow: 0px 0px 5px 1px #fc5f45;
}

.container-section-8 .cards-wrapper .card-2 .btn {
  color: #fc5f45;
  border: 2px solid #fc5f45;
}

.container-section-8 .cards-wrapper .card-2 .btn:hover {
  color: #fff;
  background-color: #fc5f45;
}

.container-section-8 .cards-wrapper .card-3 {
  border-top: 3px solid #b27cf5;
}

.container-section-8 .cards-wrapper .card-3 .price {
  background-color: #b27cf5;
  -webkit-box-shadow: 0px 0px 5px 1px #b27cf5;
          box-shadow: 0px 0px 5px 1px #b27cf5;
}

.container-section-8 .cards-wrapper .card-3 .btn {
  color: #b27cf5;
  border: 2px solid #b27cf5;
}

.container-section-8 .cards-wrapper .card-3 .btn:hover {
  color: #fff;
  background-color: #b27cf5;
}
/*# sourceMappingURL=main.css.map */